Repository ivoleitao/stash: changes, and which Codecov flags are due for each by the changed paths.
All: stash, stash_test, stash_memory, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_sembast_web, stash_objectbox, stash_cbl, stash_isar, stash_dio

Updated version to reflect documentation
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
Due: none

chore: updated dependencies
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

chore: Updated dependencies
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

chore: Updated dependencies
  packages/stash_cbl/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

chore: updated dependencies
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
Due: none

doc: fixed secure storage link
  README.md
Due: none

chore: updated dependencies
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
Due: none

doc: updated CHANGELOG
  packages/stash_dio/CHANGELOG.md
Due: none

chore: updated dependencies
  packages/stash_dio/pubspec.yaml
Due: none

chore: some small internal refactoring of variable names
  packages/stash_hive/test/hive/hive_store_test.dart
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: stash_test

fix: https://github.com/ivoleitao/stash/issues/43 for getInfo calls hive backed storage no longer deserializes the whole entry
  packages/stash_hive/lib/src/hive/hive_store.dart
Due: stash_hive

fix: https://github.com/ivoleitao/stash/issues/43 for getInfo calls shared_preferences backed storage no longer deserializes the whole entry
  packages/stash_shared_preferences/lib/src/shared_preferences_store.dart
Due: none

fix: https://github.com/ivoleitao/stash/issues/43 for getInfo calls secure_store backed storage no longer deserializes the whole entry
  packages/stash_secure_storage/lib/src/secure_storage_store.dart
  packages/stash_shared_preferences/lib/src/shared_preferences_store.dart
Due: none

fix: https://github.com/ivoleitao/stash/issues/43 for getInfo calls sembast backed storage no longer deserializes the whole entry
  packages/stash_sembast/lib/src/sembast/sembast_adapter.dart
  packages/stash_sembast/lib/src/sembast/sembast_store.dart
  packages/stash_shared_preferences/lib/src/shared_preferences_store.dart
Due: stash_sembast

fix: https://github.com/ivoleitao/stash/issues/43 for getInfo calls objectbox backed storage no longer deserializes the whole entry
  packages/stash_objectbox/lib/src/objectbox/objectbox_store.dart
  packages/stash_sembast/lib/src/sembast/sembast_store.dart
Due: stash_sembast, stash_objectbox

fix: https://github.com/ivoleitao/stash/issues/43 for getInfo calls isar backed storage no longer deserializes the whole entry
  packages/stash_isar/lib/src/isar/isar_store.dart
Due: stash_isar

fix: https://github.com/ivoleitao/stash/issues/43 for getInfo calls cbl backed storage no longer deserializes the whole entry
  packages/stash_cbl/lib/src/cbl/cbl_store.dart
Due: stash_cbl

chore(release): publish packages
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/CHANGELOG.md
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

chore: updated pubspec.lock files
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.lock
Due: none

chore: updated dependencies
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/pubspec.yaml
Due: none

ci: Updated melos to 3.0
  .gitignore
  melos.yaml
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: none

fix: postbootstrap was not working
  melos.yaml
Due: none

fix: Reading nested JSON throws TypeError issue #45
  packages/stash/lib/src/api/codec/bytes_reader.dart
  packages/stash/lib/src/api/store.dart
  packages/stash/lib/src/msgpack/reader.dart
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/lib/src/hive/hive_adapter.dart
  packages/stash_hive/lib/src/hive/hive_store.dart
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_isar/lib/src/isar/cache_model.g.dart
  packages/stash_isar/lib/src/isar/isar_adapter.dart
  packages/stash_isar/lib/src/isar/isar_store.dart
  packages/stash_isar/lib/src/isar/vault_model.g.dart
  packages/stash_isar/lib/stash_isar.dart
  packages/stash_isar/pubspec.yaml
  packages/stash_objectbox/lib/objectbox.g.dart
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_secure_storage/lib/src/secure_storage_store.dart
  packages/stash_secure_storage/lib/stash_secure_storage.dart
  packages/stash_secure_storage/test/secure_storage/secure_storage_store_test.dart
  packages/stash_sembast/lib/src/sembast/sembast_adapter.dart
  packages/stash_sembast/lib/src/sembast/sembast_store.dart
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast/test/sembast/sembast_store_test.dart
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sembast_web/test/sembast_web/sembast_web_store_test.dart
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/lib/src/shared_preferences_store.dart
  packages/stash_shared_preferences/lib/stash_shared_preferences.dart
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_shared_preferences/test/shared_preferences/shared_preferences_store_test.dart
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/lib/src/harness/harness.dart
Due: stash, stash_test, stash_sqlite, stash_hive, stash_sembast, stash_objectbox, stash_isar

doc: wrong reference
  packages/stash_secure_storage/example/lib/main.dart
  packages/stash_shared_preferences/example/lib/main.dart
  packages/stash_test/lib/src/harness/harness.dart
Due: stash_test

chore: refactured use of decode and encode
  .github/dependabot.yml
  packages/stash/lib/src/api/store.dart
  packages/stash_cbl/lib/src/cbl/cbl_store.dart
  packages/stash_hive/lib/src/hive/hive_store.dart
  packages/stash_isar/lib/src/isar/isar_store.dart
  packages/stash_objectbox/lib/src/objectbox/objectbox_store.dart
  packages/stash_secure_storage/lib/src/secure_storage_store.dart
  packages/stash_sembast/lib/src/sembast/sembast_store.dart
  packages/stash_shared_preferences/lib/src/shared_preferences_store.dart
  packages/stash_sqlite/lib/src/sqlite/sqlite_store.dart
Due: stash, stash_sqlite, stash_hive, stash_sembast, stash_objectbox, stash_cbl, stash_isar

chore(release): publish packages
  CHANGELOG.md
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/CHANGELOG.md
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

chore: pubscpec.lock update
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.lock
Due: none

chore: missing isar changelog
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
Due: none

fix: wrong version number
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
Due: none

ci: updated dependabot with daily checks
  .github/dependabot.yml
Due: none

chore(refactor): changed some internal method names
  CHANGELOG.md
  melos.yaml
  packages/stash/lib/src/msgpack/reader.dart
  packages/stash/lib/src/msgpack/types.dart
  packages/stash/lib/src/msgpack/writer.dart
  pubspec.lock
  pubspec.yaml
Due: stash

Migrated to the new 3.0 SDK
  .github/dependabot.yml
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/lib/src/dio/interceptor_builder.dart
  packages/stash_dio/pubspec.yaml
  packages/stash_dio/test/dio/dio_stash_test.dart
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/CHANGELOG.md
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: stash_dio

Changed flutter version
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
Due: none

chore: updated dependencies
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

chore: updated stash_test dependencies
  packages/stash_cbl/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

chore: updated remaining dependencies
  packages/stash_dio/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
Due: none

Updated final dependencies
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
Due: none

chore: updated pubspec.lock files
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.lock
  pubspec.lock
Due: none

Revert "chore: updated pubspec.lock files"
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.lock
  pubspec.lock
Due: none

Path conditions:
  stash: any of: packages/stash/lib/
  stash_test: any of: packages/stash_test/lib/
  stash_memory: any of: packages/stash_memory/lib/
  stash_file: any of: packages/stash_file/lib/
  stash_sqlite: any of: packages/stash_sqlite/lib/
  stash_hive: any of: packages/stash_hive/lib/
  stash_sembast: any of: packages/stash_sembast/lib/
  stash_sembast_web: any of: packages/stash_sembast_web/lib/
  stash_objectbox: any of: packages/stash_objectbox/lib/
  stash_cbl: any of: packages/stash_cbl/lib/
  stash_isar: any of: packages/stash_isar/lib/
  stash_dio: any of: packages/stash_dio/lib/
