Repository ivoleitao/stash: changes, and which Codecov flags are due for each by the changed paths.
All: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_isar, stash_objectbox, stash_objectdb, stash_dio

Unifying parameters
  .github/workflows/project.yml
  packages/stash_sqlite/README.md
  packages/stash_sqlite/example/example.dart
  packages/stash_sqlite/lib/src/sqlite/sqlite_adapter.dart
  packages/stash_sqlite/lib/stash_sqlite.dart
Due: stash_sqlite

Corrected changelog
  packages/stash_dio/CHANGELOG.md
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sqlite/README.md
  packages/stash_sqlite/example/example.dart
  packages/stash_sqlite/lib/src/sqlite/sqlite_adapter.dart
  packages/stash_sqlite/lib/stash_sqlite.dart
Due: stash_sqlite, stash_sembast

Corrected changelog
  packages/stash_hive/CHANGELOG.md
Due: none

Enabled publication of objectbox
  packages/stash_objectbox/pubspec.yaml
Due: none

Fix cache control value separator
  packages/stash_dio/lib/src/dio/header_value.dart
  packages/stash_dio/lib/src/dio/interceptor_builder.dart
  packages/stash_dio/test/dio/header_value_test.dart
Due: stash_dio

Fixed stash_dio crash when reading from hive cache
  .vscode/launch.json
  codecov.yml
  melos.yaml
  packages/stash/README.md
  packages/stash_dio/lib/src/dio/interceptor_builder.dart
  packages/stash_dio/pubspec.yaml
  packages/stash_dio/test/dio/dio_stash_test.dart
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/LICENSE
  packages/stash_memory/README.md
  packages/stash_memory/analysis_options.yaml
  packages/stash_memory/dartdoc_options.yaml
  packages/stash_memory/example/example.dart
  packages/stash_memory/lib/src/memory/memory_store.dart
  packages/stash_memory/lib/stash_memory.dart
  packages/stash_memory/pubspec.yaml
  packages/stash_memory/test/memory/memory_store_test.dart
Due: stash_dio

Updated missing point in the changelog
  packages/stash_dio/CHANGELOG.md
Due: none

Updated changelog with the pull request that was merged
  packages/stash_dio/CHANGELOG.md
Due: none

Fixed one additional error
  packages/stash_dio/lib/src/dio/interceptor_builder.dart
Due: stash_dio

Excluded test that does not run on chrome runner
  packages/stash_dio/test/dio/dio_stash_test.dart
Due: none

Runned formater
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
Due: stash_sqlite

Fixed stash documentation errors
  packages/stash/README.md
  packages/stash/lib/src/api/cache/tiered_cache.dart
Due: stash

Initial event support
  packages/stash/README.md
  packages/stash/lib/src/api/cache.dart
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash/lib/src/api/event/created_entry_event.dart
  packages/stash/lib/src/api/event/entry_event.dart
  packages/stash/lib/src/api/event/event.dart
  packages/stash/lib/src/api/event/expired_entry_event.dart
  packages/stash/lib/src/api/event/removed_entry_event.dart
  packages/stash/lib/src/api/event/updated_entry_event.dart
  packages/stash/pubspec.yaml
Due: stash

Improved the changelog and changed the version
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
Due: none

Updated to the latest published version of stash
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Added documentation
  packages/stash_test/CHANGELOG.md
  packages/stash_test/README.md
  packages/stash_test/example/example.md
  packages/stash_test/pubspec.yaml
Due: none

Fixed enphasis on README
  packages/stash_test/README.md
Due: none

Updated CHANGELOGs
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
Due: none

Updated README in preparation for the publish
  packages/stash_file/README.md
  packages/stash_file/example/example.dart
  packages/stash_hive/README.md
  packages/stash_hive/example/example.dart
  packages/stash_isar/README.md
  packages/stash_isar/lib/example/example.dart
  packages/stash_memory/README.md
  packages/stash_memory/example/example.dart
  packages/stash_objectbox/README.md
  packages/stash_objectbox/example/example.dart
  packages/stash_sembast/README.md
  packages/stash_sembast/example/example.dart
  packages/stash_sqlite/README.md
  packages/stash_sqlite/example/example.dart
Due: stash_isar

Updated dependencies
  packages/stash_dio/pubspec.yaml
Due: none

Fixed version
  packages/stash_dio/pubspec.yaml
Due: none

Added the correct github badge
  packages/stash/README.md
Due: none

Release of 3.0
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
Due: none

Release of 3.0 stash_test
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

Release of the storage packages
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
Due: none

Updated stash_dio to the 3.x line
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
Due: none

Fixed issues #12 and #13
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/lib/src/dio/cache_value.dart
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: stash_dio

Updated to the most recent version of stash
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Prepared stash_test for publication
  packages/stash_test/pubspec.yaml
Due: none

Preparing all the other packages for publishing except stash_dio
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

Missed some packages fixing it
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

Preparing for publishing stash_dio
  packages/stash_dio/pubspec.yaml
Due: none

Updated dependencies and fixed stash_dio issue #14
  melos.yaml
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/lib/src/dio/interceptor_builder.dart
  packages/stash_dio/pubspec.yaml
  packages/stash_dio/test/dio/dio_stash_test.dart
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: stash_dio

Misplaced version on the CHANGELOG
  packages/stash_dio/CHANGELOG.md
Due: none

Updated to next development version
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
Due: none

Updated to next version of stash
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Updated to the next version of stash_test
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

Path conditions:
  stash: any of: packages/stash/lib/
  stash_file: any of: packages/stash_file/lib/
  stash_sqlite: any of: packages/stash_sqlite/lib/
  stash_hive: any of: packages/stash_hive/lib/
  stash_sembast: any of: packages/stash_sembast/lib/
  stash_isar: any of: packages/stash_isar/lib/
  stash_objectbox: any of: packages/stash_objectbox/lib/
  stash_objectdb: any of: packages/stash_objectdb/lib/
  stash_dio: any of: packages/stash_dio/lib/
