Repository ivoleitao/stash: changes, and which Codecov flags are due for each by the changed paths.
All: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_isar, stash_objectbox, stash_objectdb, stash_dio

codecov.yml:

coverage:
  range: 50..100
  status:
    project:
      default: off
      stash:
        flags: stash
      stash_file:
        flags: stash_file
      stash_sqlite:
        flags: stash_sqlite
      stash_hive:
        flags: stash_hive
      stash_sembast:
        flags: stash_sembast
      stash_isar:
        flags: stash_isar
      stash_objectbox:
        flags: stash_objectbox
      stash_objectdb:
        flags: stash_objectdb
      stash_dio:
        flags: stash_dio

flags:
  stash:
    paths:
      - packages/stash/lib/
  stash_file:
    paths:
      - packages/stash_file/lib/
  stash_sqlite:
    paths:
      - packages/stash_sqlite/lib/
  stash_hive:
    paths:
      - packages/stash_hive/lib/
  stash_sembast:
    paths:
      - packages/stash_sembast/lib/
  stash_isar:
    paths:
      - packages/stash_isar/lib/
  stash_objectbox:
    paths:
      - packages/stash_objectbox/lib/
  stash_objectdb:
    paths:
      - packages/stash_objectdb/lib/
  stash_dio:
    paths:
      - packages/stash_dio/lib/

Preparing for next publish
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

Preparing for the publication of stash_dio
  packages/stash_dio/pubspec.yaml
Due: none

RandomSampler returns correct sample size
  packages/stash/lib/src/api/sampler/random_sampler.dart
  packages/stash/test/msgpack/key_sampler_test.dart
Due: stash

correct test name
  packages/stash/test/msgpack/key_sampler_test.dart
Due: none

move key sampler test to own directory
  packages/stash/test/key_sampler/key_sampler_test.dart
Due: none

cache update respects expiryDuration is provided
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash_test/lib/src/harness/cache_harness.dart
Due: stash

test numbering
  packages/stash_test/lib/src/harness/cache_harness.dart
Due: none

Fixed RandomSampler bug and added the ability to reuse memory stores for multiple caches
  .github/workflows/publish.yml
  packages/stash/CHANGELOG.md
  packages/stash/README.md
  packages/stash/pubspec.yaml
  packages/stash/test/api/sampler/sampler_test.dart
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/example/example.dart
  packages/stash_memory/lib/stash_memory.dart
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/lib/objectbox.g.dart
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: stash_objectbox

Updated dependencies and adjusted versions
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Updated the CHANGELOGs in preparation for a new release
  packages/stash/CHANGELOG.md
  packages/stash_dio/CHANGELOG.md
  packages/stash_file/CHANGELOG.md
  packages/stash_hive/CHANGELOG.md
  packages/stash_isar/CHANGELOG.md
  packages/stash_memory/CHANGELOG.md
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_test/CHANGELOG.md
Due: none

Corrected some typos on the README file
  packages/stash/README.md
Due: none

Prepared stash for release
  packages/stash/pubspec.yaml
Due: none

Updated to the new version of stash
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Prepared stash_test for release
  packages/stash_test/pubspec.yaml
Due: none

Updated to the new version of stash_test
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

Prepared stash_file, stash_hive, stash_memory, stash_objectbox, stash_sembast and stash_sqlite for release
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

It's now easier to attach multiple caches to a store
  packages/stash_dio/example/example.dart
  packages/stash_dio/lib/stash_dio.dart
  packages/stash_dio/pubspec.yaml
Due: stash_dio

Prepared stash_dio for release
  packages/stash_dio/pubspec.yaml
Due: none

Fixed the README file
  packages/stash_dio/README.md
  packages/stash_dio/pubspec.yaml
Due: none

Updated the CHANGLOG with the new release
  packages/stash_dio/CHANGELOG.md
Due: none

Prepared new release, removed isar and revamped github actions files
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  .github/workflows/gh-project.yml
  .vscode/launch.json
  codecov.yml
  melos.yaml
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/LICENSE
  packages/stash_isar/README.md
  packages/stash_isar/analysis_options.yaml
  packages/stash_isar/dartdoc_options.yaml
  packages/stash_isar/lib/example/example.dart
  packages/stash_isar/lib/src/isar/isar_store.dart
  packages/stash_isar/lib/stash_isar.dart
  packages/stash_isar/pubspec.yaml
  packages/stash_isar/test/isar/isar_store_test.dart
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: stash_isar

changed the name of github project job
  .github/workflows/gh-project.yml
Due: none

Removed dart:io dependencies on stash_hive and stash_sembast
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/README.md
  packages/stash_sembast/example/example.dart
  packages/stash_sembast/lib/src/sembast/sembast_adapter.dart
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sembast/pubspec.yaml
Due: stash_hive, stash_sembast

Added support for web in stash_hive, tests included
  codecov.yml
  melos.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_hive/lib/src/hive/hive_adapter.dart
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_hive/pubspec.yaml
  packages/stash_hive/test/hive/hive_store_test.dart
  packages/stash_hive/test/hive/vm_store.dart
  packages/stash_hive/test/hive/web_store.dart
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sembast/pubspec.yaml
Due: stash_hive, stash_sembast

Added Sembast WEB support and unit tests for sembast_web and hive
  melos.yaml
  packages/stash/README.md
  packages/stash_sembast/lib/src/sembast/sembast_adapter.dart
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/LICENSE
  packages/stash_sembast_web/README.md
  packages/stash_sembast_web/analysis_options.yaml
  packages/stash_sembast_web/dartdoc_options.yaml
  packages/stash_sembast_web/example/example.dart
  packages/stash_sembast_web/lib/src/sembast/sembast_web_adapter.dart
  packages/stash_sembast_web/lib/stash_sembast_web.dart
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sembast_web/test/sembast_store_test.dart
  tool/pana.sh
Due: stash_sembast

Corrected problem with dependency-validator and changed invocation to the command that activates melos on the actions
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  packages/stash_sembast_web/pubspec.yaml
Due: none

Preparing release
  melos.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
Due: none

Preparing release
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Some fixes on the README file
  packages/stash_sembast_web/README.md
Due: none

Some fixes on the stash README file
  packages/stash/README.md
Due: none

Prepared stash_test for deployment and moved the dependencies to the new stash version
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Fixed the location of the build action on the README file
  packages/stash/CHANGELOG.md
  packages/stash/README.md
  packages/stash/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Prepared the release of file, hive, memory, objectbox, sembast and sqlite packages
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

Missing hiving dependency, now prepared for release
  packages/stash_hive/pubspec.yaml
Due: none

Prepared the release of stash_web and of stash_dio
  packages/stash_dio/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
Due: none

Fixed coverage which supports now web only packages
  melos.yaml
Due: none

Added melos to the coverage triggers
  .github/workflows/dart-coverage.yml
Due: none
