Repository ivoleitao/stash: changes, and which Codecov flags are due for each by the changed paths.
All: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_isar, stash_objectbox, stash_objectdb, stash_dio

codecov.yml:

coverage:
  range: 50..100
  status:
    project:
      default: off
      stash:
        flags: stash
      stash_file:
        flags: stash_file
      stash_sqlite:
        flags: stash_sqlite
      stash_hive:
        flags: stash_hive
      stash_sembast:
        flags: stash_sembast
      stash_isar:
        flags: stash_isar
      stash_objectbox:
        flags: stash_objectbox
      stash_objectdb:
        flags: stash_objectdb
      stash_dio:
        flags: stash_dio

flags:
  stash:
    paths:
      - packages/stash/lib/
  stash_file:
    paths:
      - packages/stash_file/lib/
  stash_sqlite:
    paths:
      - packages/stash_sqlite/lib/
  stash_hive:
    paths:
      - packages/stash_hive/lib/
  stash_sembast:
    paths:
      - packages/stash_sembast/lib/
  stash_isar:
    paths:
      - packages/stash_isar/lib/
  stash_objectbox:
    paths:
      - packages/stash_objectbox/lib/
  stash_objectdb:
    paths:
      - packages/stash_objectdb/lib/
  stash_dio:
    paths:
      - packages/stash_dio/lib/

Corrected formatting
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/lib/src/dio/header_value.dart
  packages/stash_test/CHANGELOG.md
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/pubspec.yaml
Due: stash_dio

Updated dependencies and prepared for new releaser
  .github/workflows/dart-ci.yml
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

Small changes on the actions to align with other packages
  .github/workflows/dart-ci.yml
Due: none

Added generic supporton the API calls
  packages/stash/lib/src/api/cache.dart
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash/lib/stash_api.dart
  packages/stash/pubspec.yaml
  packages/stash_dio/lib/src/dio/interceptor_builder.dart
  packages/stash_dio/pubspec.yaml
  packages/stash_file/example/example.dart
  packages/stash_file/lib/stash_file.dart
  packages/stash_file/pubspec.yaml
  packages/stash_hive/example/example.dart
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/example/example.dart
  packages/stash_memory/lib/stash_memory.dart
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/lib/example/example.dart
  packages/stash_objectbox/lib/stash_objectbox.dart
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/example/example.dart
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/example/example.dart
  packages/stash_sembast_web/lib/stash_sembast_web.dart
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/example/example.dart
  packages/stash_sqlite/lib/stash_sqlite.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_objectbox, stash_dio

Reestructured the stat and the entry
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache_entry.dart
  packages/stash/lib/src/api/cache_stat.dart
  packages/stash/lib/src/api/entry.dart
  packages/stash/lib/src/api/stash_entry.dart
  packages/stash/lib/src/api/stash_stat.dart
  packages/stash/lib/src/api/stat.dart
  packages/stash_file/lib/src/file/file_store.dart
  packages/stash_hive/lib/src/hive/hive_extensions.dart
  packages/stash_hive/lib/src/hive/hive_store.dart
  packages/stash_memory/lib/src/memory/memory_store.dart
  packages/stash_objectbox/lib/src/objectbox/objectbox_store.dart
  packages/stash_sembast/lib/src/sembast/sembast_extensions.dart
  packages/stash_sembast/lib/src/sembast/sembast_store.dart
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/dao/cache_dao.dart
  packages/stash_sqlite/lib/src/sqlite/table/cache_table.dart
  packages/stash_test/lib/src/harness/harness.dart
Due: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_objectbox

Added sembast vault support
  packages/stash_sembast/example/example.dart
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sembast_web/example/example.dart
  packages/stash_sembast_web/lib/stash_sembast_web.dart
  packages/stash_sembast_web/test/sembast_store_test.dart
Due: stash_sembast

Added Vault support to objectbox
  packages/stash_objectbox/lib/stash_objectbox.dart
Due: stash_objectbox

Added vault support for Hive
  packages/stash_hive/example/example.dart
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_hive/test/hive/vm_store.dart
  packages/stash_hive/test/hive/web_store.dart
  packages/stash_objectbox/example/example.dart
  packages/stash_objectbox/lib/example/example.dart
  packages/stash_objectbox/test/objectbox/objectbox_store_test.dart
Due: stash_hive, stash_objectbox

Added vault harness
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: none

Support for tests with Vault
  packages/stash_file/test/file/file_store_test.dart
  packages/stash_hive/test/hive/hive_store_test.dart
  packages/stash_memory/test/memory/memory_store_test.dart
  packages/stash_objectbox/test/objectbox/objectbox_store_test.dart
  packages/stash_sembast/test/sembast/sembast_store_test.dart
  packages/stash_sembast_web/test/sembast_store_test.dart
  packages/stash_sqlite/test/sqlite/sqlite_store_test.dart
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/harness.dart
  packages/stash_test/lib/src/harness/store_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: none

Updated test support and cleaned remaining errors
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash_file/lib/src/file/file_store.dart
  packages/stash_file/test/file/file_store_test.dart
  packages/stash_hive/lib/src/hive/hive_store.dart
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_hive/test/hive/hive_store_test.dart
  packages/stash_hive/test/hive/vm_store.dart
  packages/stash_hive/test/hive/web_store.dart
  packages/stash_memory/test/memory/memory_store_test.dart
  packages/stash_objectbox/lib/src/objectbox/objectbox_store.dart
  packages/stash_objectbox/test/objectbox/objectbox_store_test.dart
  packages/stash_sembast/test/sembast/sembast_store_test.dart
  packages/stash_sembast_web/test/sembast_store_test.dart
  packages/stash_sqlite/test/sqlite/sqlite_store_test.dart
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/harness.dart
  packages/stash_test/lib/src/harness/store_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
  packages/stash_test/lib/stash_test.dart
Due: stash, stash_file, stash_hive, stash_objectbox

Updated versions and prepared CHANGELOGs
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

Updated API entry points
  melos.yaml
  packages/stash/lib/src/api/cache/cache.dart
  packages/stash/lib/src/api/cache/cache_manager.dart
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/manager/default_manager.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash/lib/src/api/manager.dart
  packages/stash/lib/src/api/stash.dart
  packages/stash/lib/src/api/vault/default_vault.dart
  packages/stash/lib/src/api/vault/manager/default_manager.dart
  packages/stash/lib/src/api/vault/vault.dart
  packages/stash/lib/src/api/vault/vault_manager.dart
  packages/stash/lib/stash_api.dart
  packages/stash_dio/lib/stash_dio.dart
  packages/stash_file/lib/stash_file.dart
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_memory/lib/stash_memory.dart
  packages/stash_objectbox/lib/stash_objectbox.dart
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sqlite/lib/stash_sqlite.dart
  packages/stash_test/lib/src/harness/harness.dart
Due: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_objectbox, stash_dio

Added some tests and statistics to tiered cache
  packages/stash/lib/src/api/cache/cache.dart
  packages/stash/lib/src/api/cache/cache_manager.dart
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/manager/default_manager.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash/lib/src/api/vault/default_vault.dart
  packages/stash/lib/src/api/vault/vault.dart
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: stash

An experience with extension methods
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/stats/default_stats.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash/lib/src/api/vault/default_vault.dart
  packages/stash/lib/src/api/vault/stats/default_stats.dart
  packages/stash/lib/stash_api.dart
  packages/stash_memory/test/memory/memory_store_test.dart
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: stash

Updated dependencies and removed extra extensions methods
  packages/stash/lib/stash_api.dart
  packages/stash/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/lib/stash_file.dart
  packages/stash_file/pubspec.yaml
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/lib/stash_memory.dart
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/lib/stash_objectbox.dart
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/example/example.dart
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/lib/stash_sqlite.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_objectbox

Migrated to drift
  packages/stash/README.md
  packages/stash_sqlite/README.md
  packages/stash_sqlite/lib/src/sqlite/cache_database.dart
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/dao/cache_dao.dart
  packages/stash_sqlite/lib/src/sqlite/dao/vault_dao.dart
  packages/stash_sqlite/lib/src/sqlite/sqlite_adapter.dart
  packages/stash_sqlite/lib/src/sqlite/table/cache_table.dart
  packages/stash_sqlite/lib/src/sqlite/table/iso8601_converter.dart
  packages/stash_sqlite/lib/src/sqlite/table/vault_table.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/lib/stash_sqlite.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_sqlite/test/sqlite/sqlite_store_test.dart
Due: stash_sqlite

Added unit tests for the stats
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/stats/default_stats.dart
  packages/stash/lib/src/api/vault/stats/default_stats.dart
  packages/stash_memory/test/memory/memory_store_test.dart
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: stash

Changed the entries
  packages/stash/lib/src/api/cache/cache_entry.dart
  packages/stash/lib/src/api/cache/cache_info.dart
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/eviction/base_policy.dart
  packages/stash/lib/src/api/cache/eviction/eviction_policy.dart
  packages/stash/lib/src/api/cache/eviction/fifo_policy.dart
  packages/stash/lib/src/api/cache/eviction/filo_policy.dart
  packages/stash/lib/src/api/cache/eviction/hyperbolic_policy.dart
  packages/stash/lib/src/api/cache/eviction/lfu_policy.dart
  packages/stash/lib/src/api/cache/eviction/lru_policy.dart
  packages/stash/lib/src/api/cache/eviction/mfu_policy.dart
  packages/stash/lib/src/api/cache/eviction/mru_policy.dart
  packages/stash/lib/src/api/cache/expiry/accessed_policy.dart
  packages/stash/lib/src/api/cache/expiry/created_policy.dart
  packages/stash/lib/src/api/cache/expiry/eternal_policy.dart
  packages/stash/lib/src/api/cache/expiry/modified_policy.dart
  packages/stash/lib/src/api/cache/expiry/touched_policy.dart
  packages/stash/lib/src/api/cache/sampler/base_sampler.dart
  packages/stash/lib/src/api/cache/sampler/full_sampler.dart
  packages/stash/lib/src/api/cache/sampler/reservoir_sampler.dart
  packages/stash/lib/src/api/cache/sampler/sampler.dart
  packages/stash/lib/src/api/cache/sampler/shuffle_sampler.dart
  packages/stash/lib/src/api/entry.dart
  packages/stash/lib/src/api/vault/default_vault.dart
  packages/stash/lib/src/api/vault/vault_entry.dart
  packages/stash/pubspec.yaml
  packages/stash/test/api/cache/sampler/sampler_test.dart
  packages/stash_dio/pubspec.yaml
  packages/stash_file/lib/src/file/file_store.dart
  packages/stash_hive/lib/src/hive/hive_store.dart
  packages/stash_memory/lib/src/memory/memory_store.dart
  packages/stash_objectbox/lib/src/objectbox/objectbox_store.dart
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/lib/src/sembast/sembast_store.dart
  packages/stash_sqlite/lib/src/sqlite/dao/cache_dao.dart
  packages/stash_sqlite/lib/src/sqlite/dao/vault_dao.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/lib/src/harness/harness.dart
  packages/stash_test/lib/src/harness/store_harness.dart
Due: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_objectbox

Fixed problem with the future handling
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash_hive/lib/src/hive/hive_store.dart
  packages/stash_sembast/lib/src/sembast/sembast_store.dart
  packages/stash_sembast_web/test/sembast_store_test.dart
Due: stash, stash_hive, stash_sembast

Entry builder support
  packages/stash/lib/src/api/cache/cache_entry.dart
  packages/stash/lib/src/api/cache/cache_info.dart
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/entry.dart
  packages/stash/lib/src/api/info.dart
  packages/stash/lib/src/api/vault/default_vault.dart
  packages/stash/lib/src/api/vault/vault_entry.dart
  packages/stash/lib/src/api/vault/vault_info.dart
  packages/stash_test/lib/src/harness/harness.dart
  packages/stash_test/lib/src/harness/store_harness.dart
Due: stash

Remove expiryDuration from get
  packages/stash/lib/src/api/cache/cache.dart
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
Due: stash

Removed the type
  packages/stash/lib/src/api/cache/cache.dart
  packages/stash/lib/src/api/cache/cache_entry.dart
  packages/stash/lib/src/api/cache/cache_info.dart
  packages/stash/lib/src/api/cache/default_cache.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash/lib/src/api/entry.dart
  packages/stash/lib/src/api/info.dart
  packages/stash/lib/src/api/vault/default_vault.dart
  packages/stash/lib/src/api/vault/vault.dart
  packages/stash/lib/src/api/vault/vault_entry.dart
  packages/stash/lib/src/api/vault/vault_info.dart
  packages/stash_dio/lib/src/dio/interceptor_builder.dart
Due: stash, stash_dio

Removed extra parameter
  packages/stash/lib/src/api/cache/cache_manager.dart
  packages/stash/lib/src/api/cache/manager/default_manager.dart
  packages/stash/lib/src/api/stash.dart
  packages/stash/lib/src/api/vault/manager/default_manager.dart
  packages/stash/lib/src/api/vault/vault_manager.dart
Due: stash

Added unit tests for preferences
  packages/stash/lib/src/api/cache/cache.dart
  packages/stash/lib/src/api/cache/cache_manager.dart
  packages/stash/lib/src/api/cache/eviction/hyperbolic_policy.dart
  packages/stash/lib/src/api/cache/generic_cache.dart
  packages/stash/lib/src/api/cache/manager/default_manager.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash/lib/src/api/vault/generic_vault.dart
  packages/stash/lib/src/api/vault/manager/default_manager.dart
  packages/stash/lib/src/api/vault/preferences.dart
  packages/stash/lib/src/api/vault/preferences_vault.dart
  packages/stash/lib/src/api/vault/vault.dart
  packages/stash/lib/src/api/vault/vault_manager.dart
  packages/stash/lib/stash_api.dart
  packages/stash/pubspec.yaml
  packages/stash_dio/example/example.dart
  packages/stash_dio/lib/stash_dio.dart
  packages/stash_dio/pubspec.yaml
  packages/stash_dio/test/dio/dio_stash_test.dart
  packages/stash_file/CHANGELOG.md
  packages/stash_file/lib/stash_file.dart
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_memory/lib/stash_memory.dart
  packages/stash_objectbox/lib/stash_objectbox.dart
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sembast_web/lib/stash_sembast_web.dart
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sembast_web/test/sembast_store_test.dart
  packages/stash_sqlite/lib/stash_sqlite.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_objectbox, stash_dio

Adapted to the new dart version
  packages/stash/lib/src/api/cache/cache_manager.dart
  packages/stash/lib/src/api/cache/generic_cache.dart
  packages/stash/lib/src/api/vault/generic_vault.dart
  packages/stash/lib/src/api/vault/vault.dart
  packages/stash_objectbox/lib/src/objectbox/objectbox_adapter.dart
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/test/sqlite/sqlite_store_test.dart
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/store_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: stash, stash_sqlite, stash_objectbox

Multiple fixes and migration to sdk 15
  melos.yaml
  packages/stash/lib/src/api/cache/cache_manager.dart
  packages/stash/lib/src/api/cache/eviction/base_policy.dart
  packages/stash/lib/src/api/cache/generic_cache.dart
  packages/stash/lib/src/api/vault/vault_manager.dart
  packages/stash/lib/stash_api.dart
  packages/stash/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/sqlite_adapter.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/store_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
  packages/stash_test/pubspec.yaml
Due: stash, stash_sqlite

Fixed type problem
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/store_harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: none

Transforming vault into keyvalue
  packages/stash/README.md
  packages/stash/lib/src/api/vault/generic_preferences.dart
  packages/stash/lib/src/api/vault/manager/default_manager.dart
  packages/stash/lib/stash_api.dart
  packages/stash_dio/lib/stash_dio.dart
  packages/stash_file/README.md
  packages/stash_file/example/example.dart
  packages/stash_hive/README.md
  packages/stash_hive/example/example.dart
  packages/stash_memory/README.md
  packages/stash_memory/example/cache/example.dart
  packages/stash_memory/example/example.dart
  packages/stash_memory/example/example.md
  packages/stash_memory/example/preferences/example.dart
  packages/stash_memory/example/vault/example.dart
  packages/stash_objectbox/README.md
  packages/stash_objectbox/example/example.dart
  packages/stash_objectbox/lib/example/example.dart
  packages/stash_sembast/README.md
  packages/stash_sembast/example/example.dart
  packages/stash_sembast_web/README.md
  packages/stash_sembast_web/example/example.dart
  packages/stash_sqlite/README.md
  packages/stash_sqlite/example/example.dart
  packages/stash_sqlite/lib/src/sqlite/dao/cache_dao.dart
  packages/stash_sqlite/lib/src/sqlite/dao/dao_adapter.dart
Due: stash, stash_sqlite, stash_objectbox, stash_dio

Fixed wrong example
  packages/stash_file/example/preferences/example.dart
  packages/stash_hive/example/preferences/example.dart
  packages/stash_memory/README.md
  packages/stash_memory/example/preferences/example.dart
  packages/stash_objectbox/example/preferences/example.dart
  packages/stash_sembast/example/preferences/example.dart
  packages/stash_sembast_web/example/preferences/example.dart
  packages/stash_sqlite/example/preferences/example.dart
Due: none

Fixed README
  packages/stash_memory/README.md
Due: none

Removed preferences and updated file and memory README
  packages/stash/lib/src/api/vault/generic_preferences.dart
  packages/stash/lib/src/api/vault/manager/default_manager.dart
  packages/stash/lib/src/api/vault/preferences.dart
  packages/stash/lib/src/api/vault/vault_manager.dart
  packages/stash/lib/stash_api.dart
  packages/stash_file/README.md
  packages/stash_file/example/example.md
  packages/stash_file/example/preferences/example.dart
  packages/stash_hive/example/example.md
  packages/stash_hive/example/preferences/example.dart
  packages/stash_memory/README.md
  packages/stash_memory/example/example.md
  packages/stash_memory/example/preferences/example.dart
  packages/stash_objectbox/example/example.md
  packages/stash_objectbox/example/preferences/example.dart
  packages/stash_sembast/example/example.md
  packages/stash_sembast/example/preferences/example.dart
  packages/stash_sembast_web/example/example.md
  packages/stash_sembast_web/example/preferences/example.dart
  packages/stash_sqlite/example/example.md
  packages/stash_sqlite/example/preferences/example.dart
  packages/stash_test/lib/src/harness/harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: stash

Changed the README files
  packages/stash_file/README.md
  packages/stash_hive/README.md
  packages/stash_memory/README.md
  packages/stash_objectbox/README.md
  packages/stash_sembast/README.md
  packages/stash_sembast_web/README.md
  packages/stash_sqlite/README.md
Due: none

Updated documentation
  packages/stash/README.md
  packages/stash/lib/src/api/cache/sampler/random_sampler.dart
  packages/stash/lib/src/api/stats.dart
  packages/stash/lib/stash_api.dart
Due: stash

Removed dependency-analysis as it was causing multiple problems
  .github/workflows/dart-ci.yml
  melos.yaml
  packages/stash/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Do not export api from the extension packages
  packages/stash_dio/test/dio/dio_stash_test.dart
  packages/stash_file/README.md
  packages/stash_file/example/cache/example.dart
  packages/stash_file/example/vault/example.dart
  packages/stash_file/lib/stash_file.dart
  packages/stash_hive/README.md
  packages/stash_hive/example/cache/example.dart
  packages/stash_hive/example/example.dart
  packages/stash_hive/example/vault/example.dart
  packages/stash_hive/lib/stash_hive.dart
  packages/stash_memory/README.md
  packages/stash_memory/example/cache/example.dart
  packages/stash_memory/example/vault/example.dart
  packages/stash_memory/lib/stash_memory.dart
  packages/stash_objectbox/README.md
  packages/stash_objectbox/example/cache/example.dart
  packages/stash_objectbox/example/vault/example.dart
  packages/stash_objectbox/lib/stash_objectbox.dart
  packages/stash_sembast/README.md
  packages/stash_sembast/example/cache/example.dart
  packages/stash_sembast/example/vault/example.dart
  packages/stash_sembast/lib/stash_sembast.dart
  packages/stash_sembast_web/README.md
  packages/stash_sembast_web/example/cache/example.dart
  packages/stash_sembast_web/example/example.dart
  packages/stash_sembast_web/example/vault/example.dart
  packages/stash_sqlite/README.md
  packages/stash_sqlite/example/cache/example.dart
  packages/stash_sqlite/example/vault/example.dart
  packages/stash_sqlite/lib/stash_sqlite.dart
Due: stash_file, stash_sqlite, stash_hive, stash_sembast, stash_objectbox

Updated dartdoc and corrected remaining documentation error
  .github/workflows/dart-ci.yml
  packages/stash_sembast_web/lib/stash_sembast_web.dart
  packages/stash_sembast_web/test/sembast_store_test.dart
Due: none
