Repository ivoleitao/stash: changes, and which Codecov flags are due for each by the changed paths.
All: stash, stash_test, stash_memory, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_sembast_web, stash_objectbox, stash_cbl, stash_isar, stash_dio

chore: updated dependencies
  packages/stash/pubspec.yaml
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/lib/objectbox.g.dart
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: stash_objectbox

chore(release): publish packages
  CHANGELOG.md
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
Due: none

Updated dependencies
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/CHANGELOG.md
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

chore: updated npm packages
  package-lock.json
Due: none

chore: updated flutter version
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
Due: none

chore: updated stash version
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

chore: updated stash version
  packages/stash_cbl/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

chore: consolidated release versions
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
Due: none

chore: updated stash dependencies for release
  packages/stash_dio/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
Due: none

chore: prepared stash_dio and stash_sembast_web for release
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
Due: none

Updated dependencies
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  download/objectbox-0.19.0-macos-universal.zip
  download/objectbox-0.19.0-macos-universal/include/objectbox-sync.h
  download/objectbox-0.19.0-macos-universal/include/objectbox-sync.hpp
  download/objectbox-0.19.0-macos-universal/include/objectbox.h
  download/objectbox-0.19.0-macos-universal/include/objectbox.hpp
  download/objectbox-0.19.0-macos-universal/info/libobjectbox.dylib.txt
  download/objectbox-0.19.0-macos-universal/lib/libobjectbox.dylib
  lib/libobjectbox.dylib
  packages/stash/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/pubspec.yaml
Due: stash_sqlite

Removed objectbox download folder
  download/objectbox-0.19.0-macos-universal.zip
  download/objectbox-0.19.0-macos-universal/include/objectbox-sync.h
  download/objectbox-0.19.0-macos-universal/include/objectbox-sync.hpp
  download/objectbox-0.19.0-macos-universal/include/objectbox.h
  download/objectbox-0.19.0-macos-universal/include/objectbox.hpp
  download/objectbox-0.19.0-macos-universal/info/libobjectbox.dylib.txt
  download/objectbox-0.19.0-macos-universal/lib/libobjectbox.dylib
Due: none

Prepared for release
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/CHANGELOG.md
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

Cleanup and update of npm
  lib/libobjectbox.dylib
  package-lock.json
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.lock
Due: none

Corrected version constraint
  packages/stash_secure_storage/pubspec.yaml
Due: none

Updated stash dependency
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/example/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Updated stash_test dependency
  packages/stash_cbl/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

Updated remaining dependencies
  packages/stash_dio/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
Due: none

Missing dependency update
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
Due: none

Updated remaining dependencies
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

Added the ability to configure a vault loader
  README.md
  packages/stash/lib/src/api/cache/cache_manager.dart
  packages/stash/lib/src/api/cache/generic_cache.dart
  packages/stash/lib/src/api/vault/generic_vault.dart
  packages/stash/lib/src/api/vault/manager/default_manager.dart
  packages/stash/lib/src/api/vault/vault.dart
  packages/stash/lib/src/api/vault/vault_manager.dart
  packages/stash/lib/stash_api.dart
  packages/stash_file/CHANGELOG.md
  packages/stash_test/CHANGELOG.md
  packages/stash_test/lib/src/harness/cache_harness.dart
  packages/stash_test/lib/src/harness/harness.dart
  packages/stash_test/lib/src/harness/vault_harness.dart
Due: stash, stash_test

Updated main dependencies
  packages/stash_cbl/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

feat(sqlite): use NativeDatabase.createInBackground factory
  packages/stash_sqlite/lib/src/sqlite/sqlite_adapter.dart
Due: stash_sqlite

chore(release): publish packages
  CHANGELOG.md
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
Due: none

Added changes over original PR
  packages/stash_sqlite/lib/src/sqlite/sqlite_adapter.dart
  packages/stash_sqlite/lib/stash_sqlite.dart
Due: stash_sqlite

fixed docs and added Romain Franceschini as a contributor
  .all-contributorsrc
  README.md
  packages/stash_sqlite/lib/src/sqlite/sqlite_adapter.dart
Due: stash_sqlite

feat: Added support to close stores and stashes
  packages/stash/lib/src/api/cache/generic_cache.dart
  packages/stash/lib/src/api/cache/tiered_cache.dart
  packages/stash/lib/src/api/stash.dart
  packages/stash/lib/src/api/store.dart
  packages/stash/lib/src/api/vault/generic_vault.dart
  packages/stash_cbl/README.md
  packages/stash_cbl/example/cache/example.dart
  packages/stash_cbl/example/vault/example.dart
  packages/stash_cbl/lib/src/cbl/cbl_adapter.dart
  packages/stash_cbl/lib/src/cbl/cbl_store.dart
  packages/stash_file/lib/src/file/file_store.dart
  packages/stash_hive/README.md
  packages/stash_hive/example/cache/example.dart
  packages/stash_hive/example/vault/example.dart
  packages/stash_hive/lib/src/hive/hive_adapter.dart
  packages/stash_hive/lib/src/hive/hive_store.dart
  packages/stash_isar/README.md
  packages/stash_isar/example/cache/example.dart
  packages/stash_isar/example/vault/example.dart
  packages/stash_isar/lib/src/isar/isar_adapter.dart
  packages/stash_isar/lib/src/isar/isar_store.dart
  packages/stash_memory/lib/src/memory/memory_store.dart
  packages/stash_objectbox/README.md
  packages/stash_objectbox/example/cache/example.dart
  packages/stash_objectbox/example/vault/example.dart
  packages/stash_objectbox/lib/src/objectbox/objectbox_adapter.dart
  packages/stash_objectbox/lib/src/objectbox/objectbox_store.dart
  packages/stash_secure_storage/lib/src/secure_storage_store.dart
  packages/stash_sembast/README.md
  packages/stash_sembast/example/cache/example.dart
  packages/stash_sembast/example/vault/example.dart
  packages/stash_sembast/lib/src/sembast/sembast_adapter.dart
  packages/stash_sembast/lib/src/sembast/sembast_store.dart
  packages/stash_shared_preferences/lib/src/shared_preferences_store.dart
  packages/stash_sqlite/README.md
  packages/stash_sqlite/example/cache/example.dart
  packages/stash_sqlite/example/vault/example.dart
  packages/stash_sqlite/lib/src/sqlite/sqlite_adapter.dart
  packages/stash_sqlite/lib/src/sqlite/sqlite_database.dart
  packages/stash_sqlite/lib/src/sqlite/sqlite_store.dart
Due: stash, stash_memory, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_objectbox, stash_cbl, stash_isar

chore: updated versions and dependencies
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/CHANGELOG.md
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: stash_sqlite

fix: downgraded test dependency due to incompatibilities with flutter version
  packages/stash/pubspec.yaml
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

chore: updated stash_test version
  packages/stash_cbl/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
Due: none

doc: missing CHANGELOG
  packages/stash_objectbox/CHANGELOG.md
Due: none

chore: updated stash_memory and stash_file dev dependencies
  packages/stash_dio/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
Due: none

fix Hive decoding
  packages/stash/lib/src/api/store.dart
Due: stash

chore: formating and pubspec.lok file
  packages/stash/lib/src/api/store.dart
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.lock
  pubspec.lock
Due: stash

test: added String in the harness
  packages/stash_test/lib/src/harness/harness.dart
Due: stash_test

chore: formating
  packages/stash/lib/src/api/store.dart
Due: stash

Path conditions:
  stash: any of: packages/stash/lib/
  stash_test: any of: packages/stash_test/lib/
  stash_memory: any of: packages/stash_memory/lib/
  stash_file: any of: packages/stash_file/lib/
  stash_sqlite: any of: packages/stash_sqlite/lib/
  stash_hive: any of: packages/stash_hive/lib/
  stash_sembast: any of: packages/stash_sembast/lib/
  stash_sembast_web: any of: packages/stash_sembast_web/lib/
  stash_objectbox: any of: packages/stash_objectbox/lib/
  stash_cbl: any of: packages/stash_cbl/lib/
  stash_isar: any of: packages/stash_isar/lib/
  stash_dio: any of: packages/stash_dio/lib/
