Repository ivoleitao/stash: changes, and which Codecov flags are due for each by the changed paths.
All: stash, stash_file, stash_sqlite, stash_hive, stash_sembast, stash_isar, stash_objectbox, stash_objectdb, stash_dio

codecov.yml:

coverage:
  range: 50..100
  status:
    project:
      default: off
      stash:
        flags: stash
      stash_file:
        flags: stash_file
      stash_sqlite:
        flags: stash_sqlite
      stash_hive:
        flags: stash_hive
      stash_sembast:
        flags: stash_sembast
      stash_isar:
        flags: stash_isar
      stash_objectbox:
        flags: stash_objectbox
      stash_objectdb:
        flags: stash_objectdb
      stash_dio:
        flags: stash_dio

flags:
  stash:
    paths:
      - packages/stash/lib/
  stash_file:
    paths:
      - packages/stash_file/lib/
  stash_sqlite:
    paths:
      - packages/stash_sqlite/lib/
  stash_hive:
    paths:
      - packages/stash_hive/lib/
  stash_sembast:
    paths:
      - packages/stash_sembast/lib/
  stash_isar:
    paths:
      - packages/stash_isar/lib/
  stash_objectbox:
    paths:
      - packages/stash_objectbox/lib/
  stash_objectdb:
    paths:
      - packages/stash_objectdb/lib/
  stash_dio:
    paths:
      - packages/stash_dio/lib/

Updated stash_memory, stash_sembast and stash_file versions on the dependent packages
  packages/stash_dio/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
Due: none

Regenerated isar classes and fixed problem with the homepage definition
  packages/stash/pubspec.yaml
  packages/stash_isar/lib/src/isar/cache_model.g.dart
  packages/stash_isar/lib/src/isar/vault_model.g.dart
Due: stash_isar

Updated dependencies and sdk
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/lib/src/isar/cache_model.g.dart
  packages/stash_isar/lib/src/isar/vault_model.g.dart
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: stash_isar

Updated dependencies
  packages/stash_isar/download.sh
  packages/stash_isar/install.sh
  packages/stash_isar/lib/src/isar/cache_model.g.dart
  packages/stash_isar/lib/src/isar/vault_model.g.dart
  packages/stash_isar/pubspec.yaml
Due: stash_isar

Updated dependencies
  packages/stash/pubspec.yaml
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: stash_sqlite

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

docs: removed variable reference
  packages/stash_file/lib/src/file/file_store.dart
Due: stash_file

ci: updated to start using conventional commits on melos and changed the name of the Github Stale workflow
  .github/workflows/gh-stale.yml
  melos.yaml
Due: none

chore: updated dependencies
  packages/stash/pubspec.yaml
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/lib/src/isar/cache_model.g.dart
  packages/stash_isar/lib/src/isar/vault_model.g.dart
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: stash_isar

feat: added isar support
  README.md
  codecov.yml
  melos.yaml
  packages/stash_dio/dartdoc_options.yaml
  packages/stash_isar/lib/src/isar/isar_adapter.dart
  packages/stash_isar/lib/src/isar/isar_store.dart
  packages/stash_isar/lib/stash_isar.dart
  packages/stash_isar/pubspec.yaml
  packages/stash_isar/test/isar/isar_store_test.dart
  packages/stash_objectbox/dartdoc_options.yaml
Due: stash_isar

chore: experimental web support, not working yet waiting for isar support
  packages/stash_isar/test/isar/vm_store.dart
  packages/stash_isar/test/isar/web_store.dart
Due: none

docs: wrong isar link
  README.md
Due: none

chore(release): publish packages
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

chore: updated dependencies
  packages/stash_cbl/pubspec.yaml
  packages/stash_isar/lib/src/isar/cache_model.g.dart
  packages/stash_isar/lib/src/isar/vault_model.g.dart
  packages/stash_isar/pubspec.yaml
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/dao/cache_dao.g.dart
  packages/stash_sqlite/lib/src/sqlite/dao/vault_dao.g.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/pubspec.yaml
Due: stash_sqlite, stash_isar

chore: trying to fix the problem with cbl package in linux
  .github/workflows/dart-ci.yml
Due: none

chore: didn't worked reverting
  .github/workflows/dart-ci.yml
Due: none

fix: disabling cbl tests while waiting for a fix on https://github.com/cbl-dart/cbl-dart/issues/443
  melos.yaml
Due: none

chore: updated dependencies
  packages/stash/pubspec.yaml
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/example/vault/example.dart
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sqlite/lib/src/sqlite/cache_database.g.dart
  packages/stash_sqlite/lib/src/sqlite/vault_database.g.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: stash_sqlite

feat: added flutter support
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  melos.yaml
  packages/stash/pubspec.yaml
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/pubspec.yaml
  packages/stash_file/pubspec.yaml
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/pubspec.yaml
  packages/stash_isar/test/isar/vm_store.dart
  packages/stash_isar/test/isar/web_store.dart
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_sembast_web/test/sembast_web/sembast_web_store_test.dart
  packages/stash_shared_preferences/.metadata
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/LICENSE
  packages/stash_shared_preferences/README.md
  packages/stash_shared_preferences/analysis_options.yaml
  packages/stash_shared_preferences/lib/stash_shared_preferences.dart
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_shared_preferences/test/shared_preferences_store_test.dart
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/pubspec.yaml
Due: none

fix: fixed condition to install libraries
  .github/workflows/dart-ci.yml
Due: none

fix: updated min flutter version
  .github/workflows/dart-ci.yml
  .github/workflows/dart-coverage.yml
  packages/stash_shared_preferences/example/test/shared_preferences_test.dart
Due: none

fix: better example
  packages/stash_shared_preferences/example/lib/main.dart
  packages/stash_shared_preferences/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/example/pubspec_overrides.yaml
Due: none

fix: removed melos extra file from sample
  packages/stash_shared_preferences/example/.gitignore
Due: none

doc: added documentation for shared_preferences plugin
  packages/stash_shared_preferences/README.md
Due: none

chore(release): publish packages
  packages/stash/CHANGELOG.md
  packages/stash/pubspec.yaml
  packages/stash_cbl/CHANGELOG.md
  packages/stash_cbl/pubspec.yaml
  packages/stash_dio/CHANGELOG.md
  packages/stash_dio/pubspec.yaml
  packages/stash_file/CHANGELOG.md
  packages/stash_file/pubspec.yaml
  packages/stash_hive/CHANGELOG.md
  packages/stash_hive/pubspec.yaml
  packages/stash_isar/CHANGELOG.md
  packages/stash_isar/pubspec.yaml
  packages/stash_memory/CHANGELOG.md
  packages/stash_memory/pubspec.yaml
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_sembast/CHANGELOG.md
  packages/stash_sembast/pubspec.yaml
  packages/stash_sembast_web/CHANGELOG.md
  packages/stash_sembast_web/pubspec.yaml
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/example/pubspec.yaml
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
  packages/stash_test/CHANGELOG.md
  packages/stash_test/pubspec.yaml
Due: none

Updated pubspec.lock
  packages/stash_shared_preferences/example/pubspec.lock
Due: none

chore: add missing license
  packages/stash_shared_preferences/LICENSE
Due: none

ci: added coverage package installation
  .github/workflows/dart-coverage.yml
Due: none

ci: removed example from coverage
  melos.yaml
Due: none

chore(release): publish packages
  packages/stash_objectbox/CHANGELOG.md
  packages/stash_objectbox/pubspec.yaml
  packages/stash_secure_storage/CHANGELOG.md
  packages/stash_secure_storage/pubspec.yaml
  packages/stash_shared_preferences/CHANGELOG.md
  packages/stash_shared_preferences/pubspec.yaml
  packages/stash_sqlite/CHANGELOG.md
  packages/stash_sqlite/pubspec.yaml
Due: none

chore: updated lock files
  packages/stash_secure_storage/example/pubspec.lock
  packages/stash_shared_preferences/example/pubspec.lock
Due: none

doc: added SDK and platform columns in the documentation
  README.md
Due: none
